default:
  suites:
    default:
      path: %paths.base%/features
      contexts:
        - Postcon\BehatShellExtension\ShellContext
  extensions:
    Postcon\BehatShellExtension\Extension:
      default:
        base_dir: /tmp
      foo:
        base_dir: /
